/* Mission section */

/* Changing the world section */
.mission-panels.panel-header {
  background-color: #dfdfdf;
}

.changing-the-world {
  background-image: url("../assets/changing-the-world.jpg");
}

.changing-the-world-text-pane {
  height: 100%;
  width: 100%;
  display: table;
  text-align: center;
}

.changing-the-world-text {
  display: table-cell;
  vertical-align: middle;
}

/* Bigger than our innovations section */
.bigger-than-our-innovations {
  background-image: url("../assets/photo-cool-innovations.jpg");
}

.bigger-than-our-innovations-text-pane {
  background: #fff;
}

.bigger-than-our-innovations-text {
  display: table-cell;
  vertical-align: middle;
}

/* Collective accolades section */
.collective-accolades {
  background-image: url("../assets/photo-cool-trophies.jpg");
}

.collective-accolades-text-pane {
  position: absolute;
  left: 50%;
  width: 50%;
  height: inherit;
  display: table;
}

.collective-accolades-text {
  display: table-cell;
  vertical-align: middle;
  padding-right: 100px;
}

@media (max-width: 400px) {
  .changing-the-world-text > span {
    display: block;
    margin: 0 auto;
    width: 200px;
  }
}